<ol class="question-picker-input">
  {{#each items as |item| }}
    {{log "POOP" (get item "text") }}
    <li>{{input type="text" value=item.text}} <a href="#" {{action "removeItem" item}}>remove</a></li>
  {{/each}}
</ol>
<button {{action (action addNewItem)}}>Add some items</button>
{{yield}}
