      <div class="field">
        {{input class="question-title" type="text" placeholder="How tall are you?" value=question.title}}
      </div>

      <div class="field">
        <select class="ui dropdown" onchange={{action "changeAnswerType" value="target.value"}}>
          {{#each-in allAnswerTypes as |group items|}}
            <optgroup label="{{ group }}">
              {{#each items as |item|}}
                    <option selected={{eq item question.answerType}}>{{ item }}</option>
              {{/each}}
            </optgroup>
          {{/each-in}}
        </select>
      </div>

{{#if showChoiceInput }}
      {{ log "SHOW CHOICE INPUT" (get question "pickerValues") }}
      {{list-builder
            items=(get question "pickerValues")
            addNewItem=(action choiceAdd)
      }}

{{/if}}

{{#if showMultiline }}
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden question-multiple-lines">
      <label>Multiple Lines?</label>
    </div>
  </div>
{{/if}}

      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" tabindex="0" class="hidden">
          <label>Required</label>
        </div>
      </div>
{{yield}}
