<h1> 
  <small>{{link-to 'Back' 'surveys.index' }}</small>
  {{ model.title }}
</h1>
<div class="ui two column grid container">
  <div class="column">
    <form class="ui form">

      <div class="field">
        <label>Title</label>
        {{input class="survey-title" type="text" value=model.title}}
      </div>

      {{#each model.questions as |question index|}}
        <h4 class="ui dividing header">
        Question {{ index-to-position index }}
        </h4>
        <div class="field">
          {{input class="question-identifier" type="text" value=question.identifier  placeholder="Question_111"}}
        </div>

        {{#question-editor}}{{/question-editor}}
      {{/each}}

      <button {{action (route-action "addQuestion" model)}}>Add Question</button>
    </form>
  </div>
  <div class="column">
    <h3>Preview</h3>
  </div>
  {{outlet}}
</div>
