<div class="ui three column grid container">
  <div class="row">

    {{ log 'section is' section }}

    <h3>{{sectionDescription}}<button>+ Add</button></h3>

    {{#ui-dropdown 
      class="selection" 
      selected=currentSection
      onChange=(action (mut currentSection)) as |execute mapper|}}
        <div class="default text">Section</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each model.sections as |section|}}
            <div class="item" data-value="{{map-value mapper section}}">
              {{section.title}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
  </div>
  <div class="row">


    <div class="column">

      <p>
      Section Title
      {{input type="text" value=currentSection.title}}
      </p>
      <p>
      Research Kit Type
      <select>
        <option>Overview</option>
        <option>Purpose of Study</option>
      </select>
      </p>

      <p>
      Learn more button title 
      <input type="text" />
      </p>

      <p>
      Summary<br>
      <textarea rows="20" cols="40"></textarea>
      </p>
    </div>
    <div class="column">
      {{iphone-preview section=currentSection }}
    </div>
    <div class="column">
      <h5>Consent Document {{model.version}}</h5>
      <h6>Last Published {{model.lastPublished}}</h6>
      <button>Save</button>
      <button>Publish</button>
    </div>
  </div>
</div>
{{outlet}}
